<h1><%= @article.title%></h1>
<p>
	Teacher:<%= @article.content1%>
</p>
<p>
	TimeSchedule:<%= @article.content2%>
</p>
<p>
	Credit:<%= @article.content3%>
</p>
<p>
	Classroom:<%= @article.content4%>
</p>